*{
box-sizing: border-box;

}
body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}
.container1{
	display: flex;
	flex-direction: row;
	background:white;
	width: 800px;
	justify-content: space-between;
	border-radius: 14px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}
.rightcontent{
	width: 50%;
}
.leftcontent{
	width: 40%;
	margin: 60px 0 10px 75px;
}
h1{
	font-family:monospace;
	padding-left: 13px;
	font-size: 40px;
	font-family: Poppins;

}
.head{
	padding-bottom: 20px;
}
.form-group{

	
}
.form-group input{
	border:none;
	width: 90%;
	
	outline: none;
	font-size: 15px;
	padding-left: 12px;
	
	border-bottom: 1px solid gray;
}
.button{
	margin-top: 35px;
	margin-left: 10px;
	margin-bottom: 50px;
}
.form-group1 {
	margin-left: 8px;
}
.button input{
	padding: 10px 25px;
	background: #6dabe4;
	border: none;
	color: white;
	border-radius: 7px;
	outline: none;
}
.rightcontent{
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-group1{
	padding-top: 20px;
}
input:focus{
	border: none;

}
.form-group input{
	display: inline-block;
}
.form-group{
margin-bottom: 22px;
}
.form-group input:focus{
		border-bottom: 1px solid gray;

}
.error p{
padding-left: 12px;
}
.error{
	margin-bottom: 5px;
	text-align: center;
	background: #e85252;
	border-radius: 5px;
	height: 35px;
	padding: 6px 0;
	color: white;
	display: none;
}