

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: monospace;
}
.static{
	height: 200px;
	background: #7e6060;
	z-index: -1;
	width: 100%;
}
@media only screen and (max-width:1580px){
.wrapper{
	z-index: 1;
	
	position: absolute;
	top:20px;
	
	left: 200px;
	right: 190px;
}}
@media only screen and (max-width:1250px){
.wrapper{
	z-index: 1;
	
	position: absolute;
	top:20px;
	
	left: 5px;
	right: 5px;
}}

@media only screen and (max-width:750px){
.landingcontent{
	display: flex;
	flex-direction: column;
}}

.head{
	display: inline-block;
	color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 25px;
    padding-left: 5px;
}

.maincontent{
	padding: 15px 15px 15px;
	flex:2;
	margin: 40px 0 10px 65px;
}
.landingHeader span{
	vertical-align: top;
}


@media only screen and (max-width:1580px){
.landingcontent{
	display: flex;
	background: #fff;
	display: flex;
	margin-left: 20px;
	align-items: center;
	border-radius: 10px;
	box-shadow: 5px 10px 8px #888888;
	justify-content: center;	

}}
.sidecontent{
	display: flex;
	flex:1;
	right: 20px;
	align-items: center;
	flex-direction: column;
}
.landingHeader{
	margin-bottom: 20px;
}
.maincontent h3{
	margin-bottom: 35px;
	font-size: 33px;
	font-weight: 300;
	line-height: normal;
	
	
}
.maincontent p{
	font-size: 19px;
}
.maincontent ol li{
	padding-bottom: 20px;
	font-size: 17px;
	padding-left: 5px;

}
.maincontent .helping{
	text-decoration: none;
	margin-top: 30px;
}
.aciklama-footer{
	margin:30px 0 0 30px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 3px;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.helping a {
	color:black;
	font-size: 13px;
	font-weight: 250;

}
.helping a:hover{
	color:black;

}

.sidecontent .div2 h4{
	font-weight: 400;
	font:monospace;
}
.div1 img{
	border-radius: 50%;
}


