
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}


body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
	padding-bottom: 10px;
}

h2 {
	text-align: center;
}

p {
	font-size: 18px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

input{
	line-height: 30px;
}

.a{
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.button {
	width: 50%;
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 14px 50px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.button:focus{
	outline: none;
	border:2px solid black;
}



form {
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin-bottom: 5px;
	width: 100%;
}

.container {
	display: flex;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}



.sign-in-container {
	width: 50%;
	
}
.sign-up-container{
	width: 50%;

background: rgb(13 110 253 / 25%);
}


.social-container a {
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: flex-end;
	margin: 0 5px;
	height: 25px;
	width: 25px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
