	/*font-family: 'poppins',sans-serif;
	:is yapısı
	*/
	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'poppins',sans-serif;

}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height:100vh;
	background-color:#f7f7f7;

}


.wrapper{
	background-color: #fff;
	width: 450px;
	height: 500px;
	border-radius: 16px;
	box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
	0 32px 64px -48px rgba(0,0,0,0.5);
	overflow-y: auto;
}
.users{
	padding: 25px 30px;
}
.users header,
.users-list .user{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e6e6e6;

}
.users header .content img{
	height: 50px;
	width: 50px;

}
.users header .content{
	display: flex;

}
.wrapper img{
	object-fit: cover;
	border-radius: 50%;
}.users header .details{
	margin-left: 15px;


}
.users header .details span{
	font-weight: 500;
	font-size: 18px;
	

}
.users header .logout{
	color: #fff;
	padding:7px 15px;
	background: #333;
	font-size: 17px;
	border-radius: 5px;

	
}


.users .search{
	margin:20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

}
.users .search .text{
	font-size: 17px;

}



 
.users-list{
display: flex;
margin-bottom: 13px;
 }

 .users-list .user .content img{
 	height: 40px;
 	width: 40px;
  display: inline;
 }
 .users-list .status-dot.offline{
	color: #ccc;
}
 
.users-list .status-dot {
  
color: #468669;
font-size:11px;
padding-bottom: 10px;
}

.user{
	display: flex;
	width: 100%;
}
.content{
	flex:3;

}
.status-dot{
	flex:1;
	text-align: end;
	padding-right: 15px;
}
.details{
	display: inline-block;
	margin-left: 10px;
	color: black;
}


.image{
	vertical-align: top;
	padding-bottom: 20px;
}
.details span{ 
	font-size: 16px;
	font-weight: 500;
}
.details p{ 
	padding-top: 7px;
}
.searchbar1.active{

	text-decoration: none;
}
